version: 2.1
jobs:
  hello-world:
    docker:
      - image: alpine:3.15
    steps:
      - run:
          name: The First Step
          command: |
            echo 'Hello World!'
            echo 'This is the delivery pipeline'
  real-build:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run:
          name: make
          command: make main
      - run:
          name: run
          command: make run
  real-deploy:
    docker:
      - image: alpine:3.15
    steps:
      - run:
          name: deploy
          command: |
            echo 'deploying'
workflows:
  example-workflow:
    jobs:
      - hello-world
      - real-build
      - hold-for-approval:
          type: approval
          requires:
            - hello-world
            - real-build
      - real-deploy:
          requires:
            - hold-for-approval
    
    

  
